.armature-advantages {
  background: $primaryColor;
  color: $secondaryColor;
  padding-top: 30px;
  margin-bottom: 20px;

  &__title {
    margin-bottom: 25px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 30px;
    padding-bottom: 60px;
  }
}

.armature-advantages-item {
  display: flex;
  align-items: baseline;
  gap: 15px;

  &__icon {
    width: 50px;
    flex: 0 0 50px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
  }
}