.callback {
  position: relative;
  padding: 30px 0;
  background: $primaryColor;
  color: $secondaryColor;
  z-index: 1;

  @media (max-width: $mobileS) {
    padding: 15px;
  }

  &__subtitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;

    @media (max-width: $mobileS) {
      margin-top: 8px;
      margin-bottom: 15px;
    }
  }

  &__body {
    background: $secondaryColor;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    color: $primaryColor;
    margin: 0 auto;

    @media (max-width: $mobileB) {
      padding: 15px;
    }
  }
}