.tabs-nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background: $addBackground;
  padding: 8px;
  width: 500px;
  margin: 15px auto;
  border-radius: 5px;

  &__item {
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 5px;
    background: none;
    transition: $standardTrans;

    &._tab-active {
      background: $accentColor;
      transition: $standardTrans;
    }
  }

  @media (max-width: $mobileB) {
    flex-wrap: wrap;
    max-width: 350px;
  }

  @media (max-width: $mobileS) {
    flex-wrap: wrap;
    max-width: 300px;
  }
}

.tabs-body__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  &[hidden] {
    display: none;
  }

  @media (max-width: $laptop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobileB) {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $whiteColor;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  padding: 15px;

  &__img {
    max-width: 250px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    transition: $standardTrans;

    &:hover {
      transition: $standardTrans;
      transform: scale(1.1);
      cursor: pointer;
    }

    @media (max-width: $laptop) {
      max-height: 155px;
    }
  }

  &__title {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    flex: auto;

    @media (max-width: $mobileS) {
      font-size: 18px;
    }
  }

  &__button {
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;

    @media (max-width: $mobileS) {
      padding: 8px 15px;
    }
  }

  @media (max-width: $mobileB) {
    width: 350px;
  }
  @media (max-width: $mobileS) {
    width: 300px;
    padding: 10px;
  }
}
