.footer {
  background: $primaryColor;
  color: $secondaryColor;
  padding: 30px;

  @media (max-width: $mobileB) {
    padding: 15px;
  }

  &__body {
    display: flex;
    margin-bottom: 20px;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: $mobileS) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__column {
    flex: 0 0 23%;
    &.column_wide {
      flex: auto;
    }

    @media (max-width: $tablet) {
      flex: 50%;
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &.column_wide {
        flex: 100%;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;

    img {
      display: inline-block;
      margin-right: 8px;
      width: 54px;
      background: #fff;
      border-radius: 5px;
      padding: 2px;
    }

    @media (max-width: $mobileB) {
      font-size: 26px;

      img {
        width: 45px;
      }
    }
  }

  &__section-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;

    @media (max-width: $mobileS) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__copyright {
    text-align: center;
  }
}

.list {
  padding-left: 20px;

  &__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

.telephones {
  display: flex;
  align-items: baseline;

  &__icon {
    flex: 0 0 25px;
    margin-right: 10px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 5px;
  }
}