.gallery {
  margin-bottom: 25px;

  &__title {
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__thumb {
    max-height: 250px;
    object-fit: cover;
  }
}