.gallery {
  padding-top: 130px;
  margin: -110px 0 25px 0;

  &__title {
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__thumb {
    max-height: 250px;
    object-fit: cover;
  }
}