[class*='__container'] {
  max-width: ($containerWidth + $mainOffset * 2);
  margin: 0 auto;
  padding: 0 ($mainOffset);

  @media (min-width: $mobileB) {
      padding: 0 $mainOffsetMobileB;
  }
}

// Responsive images ============================================
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button {
  background: $accentColor;
  padding: 8px 15px;
  font-size: inherit;
  transition: $standardTrans;

  &:hover {
    background: $primaryColor;
    color: $secondaryColor;
    transition: $standardTrans;
  }
}